body{
    background-color:plum;
    color:white;
    margin:0px;
    }

    header{
        border-bottom:solid 2px black;
        padding: 70px;
        font-size: 52px;
        color:purple;
    }

